<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/scrumskak.css"/>

    <title>ScrumSkak Web Application</title>
</head>
<body>

<div class="container mt-5">
    <h3>Opret Medlem</h3>
    <hr class="divisor">

    <div class="row">
        <form class="col-md-8 offset-md-2" method="post" action="/create_member">

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm pt-0">Medlemskab</legend>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="membership_type" id="junior" value="junior" checked>
                            <label class="form-check-label" for="junior">
                                Voksen, pr. år 650DKK
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="membership_type" id="adult" value="adult">
                            <label class="form-check-label" for="adult">
                                Senior, pr. år 450DKK
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="membership_type" id="senior" value="senior">
                            <label class="form-check-label" for="senior">
                                Juniormedlem, pr. år 250DKK
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fName">Fornavn</label>
                    <input type="text" name="fName" class="form-control" id="fName">
                </div>
                <div class="form-group col-md-6">
                    <label for="lName">Efternavn</label>
                    <input type="text"name="lName" class="form-control" id="lName">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Opret</button>
        </form>

    </div>
</div>

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>