<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/scrumskak.css"/>

        <title>ScrumSkak Web Application</title>
    </head>
    <body>

        <div class="container mt-5">
            <h1 class="title mt-5">Welcome to ScrumSkak Web Application</h1>

            <h3>Menu</h3>
            <hr class="divisor">
            <div class="row">
                <div class="col-sm">
                    <a href="search_member" class="btn btn-secondary btn-block mt-2 disabled">Søg medlem</a>
                </div>
                <div class="col-sm">
                    <a href="search_employee" class="btn btn-secondary btn-block mt-2 disabled">Søg medarbejder</a>
                </div>
                <div class="col-sm">
                    <a href="create_member" class="btn btn-primary btn-block mt-2">Opret medlem</a>
                </div>
                <div class="col-sm">
                    <a href="create_employee" class="btn btn-primary btn-block mt-2">Opret medarbejder</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="create_payment" class="btn btn-secondary btn-block mt-2 disabled">Opret betalinger</a>
                </div>
                <div class="col-sm">
                    <a href="create_team" class="btn btn-primary btn-block mt-2">Opret hold</a>
                </div>
                <div class="col-sm">
                    <a href="create_tournament" class="btn btn-primary btn-block mt-2">Opret turnering</a>
                </div>
                <div class="col-sm">
                    <a href="create_tournament_result" class="btn btn-secondary btn-block mt-2 disabled">Opret turneringsresultat</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="add_memeber_to_team" class="btn btn-secondary btn-block mt-2 disabled">Tilføj medlem til hold</a>
                </div>
                <div class="col-sm">
                    <a href="remove_member_from_team" class="btn btn-secondary btn-block mt-2 disabled">Fjern medlem fra hold</a>
                </div>
                <div class="col-sm">
                    <a href="create_reminder" class="btn btn-secondary btn-block mt-2 disabled">Opret rykkergebyr</a>
                </div>
                <div class="col-sm">
                    <a href="remove_reminder" class="btn btn-secondary btn-block mt-2 disabled">Slet rykkergebyr</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="remove_employee" class="btn btn-secondary btn-block mt-2 disabled">Slet medarbejder</a>
                </div>
                <div class="col-sm">
                    <a href="remove_user" class="btn btn-secondary btn-block mt-2 disabled">Slet medlem</a>
                </div>
                <div class="col-sm">
                    <a href="remove_tournament" class="btn btn-secondary btn-block mt-2 disabled">Slet turneringer</a>
                </div>
                <div class="col-sm">
                    <a href="remove_team" class="btn btn-secondary btn-block mt-2 disabled">Slet hold</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="remove_member_from_team" class="btn btn-secondary btn-block mt-2 disabled">Fjern medlem fra hold</a>
                </div>
                <div class="col-sm">
                    <a href="member_list" class="btn btn-primary btn-block mt-2">Se brugere list</a>
                </div>
                <div class="col-sm">
                    <a href="team_list" class="btn btn-secondary btn-block mt-2 disabled">Se hold list</a>
                </div>
                <div class="col-sm">
                    <a href="team_member_list" class="btn btn-secondary btn-block mt-2 disabled">Se holdmedlemer list</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="tournament_list" class="btn btn-primary btn-block mt-2">Se turneringer list</a>
                </div>
                <div class="col-sm">
                    <a href="tournament_result" class="btn btn-secondary btn-block mt-2 disabled">Se turneringsresultater list</a>
                </div>
                <div class="col-sm">
                    <a href="payment_list" class="btn btn-secondary btn-block mt-2 disabled">Se betalingslist</a>
                </div>
                <div class="col-sm">
                    <a href="reminder_list" class="btn btn-secondary btn-block mt-2 disabled">Se rykkergebyr list</a>
                </div>
            </div>
        </div>

        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    </body>
</html>